body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif;
    background: url("wood.png") repeat;
}

header {
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0.2718281828rem 1.44rem #808080;
}
.current-player-container {
    /* @todo: choose how to highlight current player container underline or bold, or both?*/
    font-weight: bold;
    /* text-decoration: underline; */
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid burlywood;
    width: calc(3.1415926rem * 8);
    box-shadow: 0 0.2718281828rem 1.44rem gray;
    transition-property: transform;
    transition-duration: 1.618s;
    transition-timing-function: cubic-bezier(0, 1, 2, 3);
}

main.black {
    transform: rotate(-180deg);
}
main.black .row div {
    border: none;
    transform: rotate(-180deg);
}


.row {
    display: flex;
    justify-content: center;
    user-select: none;
}
.row div {
    text-align: center;
    vertical-align: middle;
    font-size: 2.718281828rem;
    line-height: 3.1415926rem;
    padding: 0;
    margin: 0;
    width: 3.1415926rem;
    height: 3.1415926rem;
    background: white;
    border: none;
}
/* cells that hovered and has some piece in it */
.row div:hover:not(:empty) {
    cursor: pointer;
}
.row div.selected {
    text-shadow: 0 3px 10px #000;
}
.row .black {
    background: burlywood;
}

.icon {
    position: absolute;
    left: 6.66rem;
    top: 3.33rem;
    color: black;
    font-size: 6.66rem;
}

.hide {
    display: none;
}

.show {
    display: initial;
}

#log {
    list-style: none;
    margin: 3.33rem 6.666rem;
    padding: 0;
}